# Include your project-specific ignores in this file
# Read about how to use .gitignore: https://help.github.com/articles/ignoring-files
# Useful .gitignore templates: https://github.com/github/gitignore
.vs
.vs/
# User-Specific Files
*.suo
*.sqlite
*.cs
net6.0
net6.0/